.container {
    width: 100vw;
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 auto;   
    align-items: center;
}

.chartdiv8 {
  width: 100%;
  height: 50vh; 
}
